@import "_init.scss";
@import "compass/reset";
/*@import "_normalize.scss";*/

/************************************ general start ****************************************/
*{
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

body > .dialog{
  display:none;
}

.left{ float:left;}
.right{ float:right;}
.shadow{ @include box-shadow(0 0 8px rgba(0,0,0,0.2));}
.head1{ border-bottom:1px solid #e8e8e8; padding-bottom:14px;}
.head2{ margin-top:12px;}
.head3{ padding-bottom:25px;}
.head4{ padding-bottom:7px;}
.blue{ color:#4e9dd4;}
.orange{ color:#fd8c2e;}

a{
    text-decoration: none;
}

strong{
    font-weight: bold;
}

/*.checkbox, .radio { width: 19px; height: 22px; background:url(../images/checkbox.png); display: inline-block;}
.radio { background: url(../images/radio.png) no-repeat; }
.select { position: absolute; width: 158px; height: 21px; background: url(../images/select.png) no-repeat; overflow: hidden;}
input[type='text']{
  background:white;
}*/
input[type='text']:disabled{
  background:#DEDEDE;
}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}

input{ 
    @include bordered; 
    @include border-radius(4px 4px 4px 4px);
    border-right:none; 
    color:$aside-color; 
    padding:2px 15px;
}
    
.watermark {
   color: $watermark-color !important;
}

.tag_l{ color:#4d4d4d;
  a{ color:#4d4d4d; text-decoration:none;
    &:link {color:$color;}
    &:hover{color:#f0bc05;}
    &:active {color:$main-blue;}
    }
}
.tag_r{ 
  color:$main-blue;
  float:right;
  a{ color:$main-blue; text-decoration:none;
     &:link {color:$main-blue;}
     &:hover{color:#f0bc05;}
     &:active {color:$color;}
  }
}
.btn_set{
  margin-top:5px;
  text-align:center;
  input{float:none;}
}

.ui-slider{
  width:240px;float:left;
}

.profile_pic{ width:125px; padding:5px; background-color:white;float:left;
     &:link {background:#fff;}
     &:hover{ background:#F5F5F5;}
     &:active {background:#f0bc05;}
    h6{ padding:7px 0 3px 0; text-align:center;}
}

.profile_right{ float:right; width:454px; position:relative;
    h6{ font-size:14px;}
    p{ padding-top:8px;}
}
.upload_user_thumbnail{ @include black-gradient; font-weight:bold; color:white !important; display:inline-block; text-align:center; padding:2px 0 3px; text-decoration:none; @include border-radius(4px); width:100%; margin-top:3px;
      &:link { @include black-gradient; color:white;}
      &:hover{ @include yellow-gradient; color:black !important;}
      &:active{ background:#000;  color:white !important;}
  }
  
.div_center{text-align:center;
    *{margin-left:auto;margin-right:auto;}
}

input:disabled{ background:#EBEBE4;}

/************************************ general end *******************************************************/

/************************************ body start *******************************************************/

body { 
    line-height:normal; 
    font:normal 13px 'Trebuchet MS', Tahoma, Verdana, Arial, sans-serif; 
    color:$color; 
    background-color:white; 
    #wrapper, #main_wrapper, #footer{
        .container{ 
            width:1012px; 
            margin:0 auto;
        }
    }
    #wrapper{ 
        background:url(../images/main_bg.jpg) repeat-x bottom center white; 
        position:relative; 
        z-index:5;
        .container{
            @extend .container;
        }
    }
    #main_wrapper{ 
        background:url(../images/body_bg.jpg) no-repeat top center white; 
        padding-top:6px;
        #main{ 
            background-color:white;
            padding:6px 6px 30px;
            #content{
                width:688px;
                .breadcrumb{
                  @include black-gradient; 
                  @include border-radius (4px); 
                  color:white; 
                  padding:8px 0 8px 17px; 
                  margin-bottom:10px;
                  
                  .nav_content, .nav_title, .nav_content li{
                    float:left;
                  }
                  
                  .nav_content{
                    margin-left:10px;
                    a{ color:white; text-decoration:none;
                      &:hover{color:#ff1d38;}
                      &:active {color:$color;}
                    }
                    .separator{
                      margin: 0 10px;
                      display: inline-block;
                    }
                  }
                }
                .main{
                    padding:15px 14px 18px 17px;
                }
                .main_inner, .tag_con{
                    h1{
                      @include yellow-gradient; 
                      color:#2f3031; 
                      font-size:22px; 
                      font-weight:normal; 
                      padding:3px 0 5px 17px; 
                      @include border-radius(4px);
                   }
                }
            }
        }
        .container{
            @extend .container;
        }
    }
}

/* bookmark popup */
.bookmark_popup{
  position: absolute;
  z-index: 100;
  display:none;
  background:#F1F1F1;
  cursor: auto;
  width:310px;
  .bookmark_popup_inner{
    margin:10px;
    h2{
      font-size: 14px;
    }
    a.title{
      font-size:15px;
      color: black;
      font-weight:bold;
      cursor:pointer;
      width: auto;
      &:link {color:$color;}
      &:hover{color:#F0BC05;}
      &:active {color:#096DB9;}
    }
    .yellow{
      background:#FFFF94;
      padding: 5px;
      ul.info_line{
        li{
          display: inline-block;
          background: none;
          float: left;
          cursor: auto;
          padding: 0 2px;
          border:0;
        }
      }
    }
    .white{
      margin-top:10px;
      display:none;
      .textarea_field{
        vertical-align: top;
      }
      .text_line{
        &.hidden{display:none;}
        div{display:inline-block}
      }
      .inline_edit_text, .inline_edit_textarea{
        display:inline-block;
        min-height:18px;
        /*width: 230px;
        float: right;*/
        padding: 2px;
        border: 1px solid #dfdfdf;
        width: 246px;
        overflow: hidden;
        input{
          width:100%;
          padding:0;
        }
        
        textarea{
          width:100%;
          padding:0;
        }
      }
    }
    .bookmark_popup_reminder_save{
      float:right;
    }
    .bookmark_popup_set_reminder{
      float: right;
      margin-top:5px;
    }
    .bookmark_popup_more_reminder_fields{
      float:left;
      margin-top:10px;
    }
  }
  /*&.bookmarked{
    .bookmark_popup_set_reminder{
      display:block;
    }
    .white{
      display:none;
    }
  }
  &.has_reminder.bookmarked{
    .bookmark_popup_set_reminder{
      display:none;
    }
    .white{
      display:block;
    }
  }
  */
  &.bookmarked{
    .bookmark_popup_set_reminder{
      display:none;
    }
    .white{
      display:block;
    }
  }
  &.not_bookmarked{
    .white, .bookmark_popup_set_reminder{
      display:none;
    }
  }
}
.trigger_popup_icon{
  position: absolute;
  top: 0px;
  padding: 2px 5px;
  color:black;
  background:lightGrey;
  cursor: pointer;
  display:none;
}
.save_status{
  float: right;
  height:18px;
  color: red;
  .saving, .saved{
    display: none;
  }
}

/************************************ body end *******************************************************/

a.button {
    width: 251px;
    height: 42px;
    display: inline-block;
    cursor:pointer;
    clear:both;
}
a.button.facebook {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -1px;
}
a.button.facebook:hover {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -44px;
}
a.button.facebook:active {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -87px;
}
a.button.twitter {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -130px;
}
a.button.twitter:hover {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -173px;
}
a.button.twitter:active {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -216px;
}
a.button.google {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -259px;
}
a.button.google:hover {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -302px;
}
a.button.google:active {
    background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -345px;
}

/* map autocomplete */
.geo_locate{
  cursor:pointer;
}
.map{
  height: 191px;width: 100%;
  overflow: hidden;
  position: relative;
  border: 1px solid #d1d1d1;
  margin-bottom: 5px;
}

/* jquery timepicker */

/* css for timepicker */
.ui-timepicker-wrapper {
  overflow-y: auto;
  height: 150px;
  width: 6.5em;
  background: #fff;
  border: 1px solid #ddd;
  -webkit-box-shadow:0 5px 10px rgba(0,0,0,0.2);
  -moz-box-shadow:0 5px 10px rgba(0,0,0,0.2);
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
  outline: none;
  z-index: 10001;
  margin: 0;
}

.ui-timepicker-wrapper.ui-timepicker-with-duration {
  width: 11em;
}

.ui-timepicker-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ui-timepicker-duration {
  margin-left: 5px; color: #888;
}

.ui-timepicker-list:hover .ui-timepicker-duration {
  color: #888;
}

.ui-timepicker-list li {
  padding: 3px 0 3px 5px;
  cursor: pointer;
  white-space: nowrap;
  color: #000;
  list-style: none;
  margin: 0;
}

.ui-timepicker-list:hover .ui-timepicker-selected {
  background: #fff; color: #000;
}

li.ui-timepicker-selected,
.ui-timepicker-list li:hover,
.ui-timepicker-list .ui-timepicker-selected:hover {
  background: #1980EC; color: #fff;
}

li.ui-timepicker-selected .ui-timepicker-duration,
.ui-timepicker-list li:hover .ui-timepicker-duration {
  color: #ccc;
}

.ui-timepicker-list li.ui-timepicker-disabled,
.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  color: #888;
  cursor: default;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-selected.ui-timepicker-disabled {
  background: #f2f2f2;
}

#colorbox #cboxLoadedContent{
  overflow-x: hidden !important;
}
