@import "_init.scss";
@import "compass/reset";
@import "mixin/mixin.scss";

/************************************ general start ****************************************/
.left{ float:left;}
.right{ float:right;}
.div_shadow{ @include box-shadow(0 0 8px rgba(0,0,0,0.2));}
.div_gap{ margin-bottom:14px;}
.font35{ font-size:35px; font-weight:normal; line-height:26px;}
.font11{ font-size:11px;}
.font12{ font-size:12px;}
.font13{ font-size:13px;}
.font14{ font-size:14px;}
.font16{ font-size:16px;}
.font24{ font-size:24px;}
.head1{ border-bottom:1px solid #e8e8e8; padding-bottom:14px;}
.head2{ margin-top:12px;}
.head3{ padding-bottom:25px;}
.head4{ padding-bottom:7px;}
.blue{ color:#4e9dd4;}
.orange{ color:#fd8c2e;}

a{
    text-decoration: none;
}

strong{
    font-weight: bold;
}

/*.checkbox, .radio { width: 19px; height: 22px; background:url(../images/checkbox.png); display: inline-block;}*/
.radio { background: url(../images/radio.png) no-repeat; }
.select { position: absolute; width: 158px; height: 21px; background: url(../images/select.png) no-repeat; overflow: hidden;}
input[type='text']{
  background:white;
}
input[type='text']:disabled{
  background:#DEDEDE;
}
.clearfix:after{clear:both;content:".";display:block;font-size:0;height:0;line-height:0;visibility:hidden}
.clearfix{zoom:1}

    input{ @include bordered; border-right:none; @include border-radius(4px 4px 4px 4px); color:$aside-color; padding:2px 15px;}
    
.watermark {
   color: $watermark-color !important;
}
/************************************ general end *******************************************************/

/************************************ body start *******************************************************/

body { 
    line-height:normal; 
    font:normal 13px Arial, Helvetica, sans-serif; 
    color:$color; 
    background-color:white; 
    #wrapper, #main_wrapper, #footer{
        .container{ 
            width:1012px; 
            margin:0 auto;
        }
    }
    #wrapper{ 
        background:url(../images/main_bg.jpg) repeat-x bottom center white; 
        position:relative; 
        z-index:5;
        .container{
            @extend .container;
        }
    }
    #main_wrapper{ 
        background:url(../images/body_bg.jpg) no-repeat top center white; 
        padding-top:6px;
        #main{ 
            background-color:white;
            padding:6px 6px 30px;
        }
        .container{
            @extend .container;
        }
    }
}
/************************************ body end *******************************************************/


/************** qtip start **************/

.loginned_popup_inner{
    line-height:1.5;
    width:250px;
    .img_outer{
        float:left;
        img{
            margin:5px;
        }
    }
    .info{
        float:left;
        .info_inner{
            padding:5px;
            h3{
                font-size: 13px;
                font-weight: bold;
            }
            p{
            }
        }
    }
    .clearfix{
        border-bottom: 1px dashed #e5e4e0;
    }
    .pro-bottom{
        padding:5px;
        a{
            font-size:13px;
            color:black;
            text-decoration: none;
        }
    }
}
/************** qtip end **************/

/************** header start **************/
#header{
    padding:10px 10px;
    h1{ float:left; padding-top:3px;}
    a{ 
        color:$color;
        &:link {color:$color;}
        &:hover{color:#F0BC05;}
        /*&:visited {color:$color;} */
        &:active {color:#096DB9;}
    }
    .header_right{
        width: 80%;
        .header_top{
            position:relative; 
            padding-bottom:3px;
            .language{
                float:right; 
                font-size:12px; 
                line-height:11px; 
                li{ 
                    position:relative; 
                    z-index:1000; 
                    padding-bottom:5px;
                }
                a{  
                    text-decoration:none;
                }
                ul ul{ 
                    display:none; 
                    position:absolute; 
                    top:15px; right:0px; 
                    background:#fff; @include border-radius(4px); 
                    z-index:10; 
                    width:100px;
                }
                li:hover ul{ display:block; }
                ul ul li{ padding:5px;}
                ul ul li a{ color:$color;}
                .country_flag{ 
                    @include background_img; 
                    width:16px; 
                    height:11px; 
                    float:left; 
                    margin-right:9px;
                }
                .en{ 
                    background-position:-102px -5px;
                }
                .zh_hk{ 
                    background-position:-120px -5px;
                }
            }
            .date{ 
                float:left; 
                color:$color; 
                font-size:11px;
                cursor:pointer;
                &:link {color:$color;}
                &:hover{color:#F0BC05;}
                /*&:visited {color:$color;} */
                &:active {color:#096DB9;}
            }
         }
         .header_bottom{
             position: relative;
            .login_info{
                position: absolute;
                right: 0;top: 0;
                line-height:24px;
                .grid_icon{
                    cursor:pointer;
                }
            }
            #menu{ 
                position: absolute;
                left: 0;top: 0;
                li{ 
                    float:left; 
                    padding-right:8px;
                }
                li:last-child { 
                    padding-left:25px;
                }
                a{
                    font-size:13px; 
                    padding:3px 10px; 
                    @include bordered; 
                    @include border-radius(4px); 
                    text-decoration:none; 
                    display:inline-block;
                }
                a:hover,   li.current a,  li:last-child a{ 
                    @include yellow-gradient; 
                    color:$color; 
                    border:none; 
                    padding:4px 11px;
                }
            }
         }
    }
}
/************** header end **************/

/************** sidebar start **************/
#sidebar{ 
    width:298px; color:$aside-color; 
    h1{ color:$left-event; font-size:22px; font-weight:bold;}
    h2{ font-size:16px; font-weight:normal; }
    h2 a{ color:$left-event; text-decoration:none;
        &:link {color:$main-blue;}
        &:hover{color:#f0bc05;}
        &:active {color:$main-blue;}
    }
    .accordion_button { 
        position:relative; 
        cursor: pointer; 
        font:bold 13px Arial, Helvetica, sans-serif; 
        color:$left-event; 
        background:url(../images/up_arrow.png) no-repeat right center; 
        background-color:$light-gray;
        display:block; 
        @include border-radius(4px) ; 
        line-height:21px; 
        margin-top:1px;
        padding:5px 0 4px 13px;
        img{ margin-right:20px; display:inline-block; float:left;}
        .movable {position: absolute;right: 5px;top: 7px; display:none;}
        .movable:hover {cursor:move;}
        a.hide_toggle {
            position: absolute;
            right: 25px;top: 5px; 
            color:grey;
            text-decoration:none;
            display:none;
            &:hover{ color:black; }
          }
        &.editing{ 
            background-image:none;cursor:default;
            &:hover a.hide_toggle{
                display:block;
            }
        }
    }
    .hidden_categories{
        display:none;
        .accordion_button { 
            background-color:#cbcbcb;
            background-image:none;
        }
        &.editing{ display:block; }
    }
    .tab_placeholder{ height:32px;}
    .search_field{ 
        margin-bottom:1px;position:relative;
        input.keyword_text{
            padding-left: 10px;padding-right: 10px;width: 240px;height: 26px
        }
        input.keyword_submit{ 
            position:absolute;
            right:0;top:0;
            float:none;
            @include background_img; 
            background-position: left -13px; 
            width:38px; height:32px; 
            border:none; 
            padding:0; 
            cursor:pointer; 
            @include border-radius(0 4px 4px 0);
        }
    }
    .date_search{
        background:#e6e6e6; 
        @include border-radius(4px); 
        font-size: 11px; 
        height:29px;
        > *{
          float:left;
        }
        .text{ float:left; color:$color;margin-top: 8px;}
        .text{float:left;margin-right:5px;}
        .text.from{border-left: 1px solid black;padding-left: 6px;font-weight: bold;}
        .text.to{font-weight: bold;margin-left:3px;}
        input[type="text"]{
          margin-top:4px;
          font-size:11px; 
          border:1px solid #c6c6c6; 
          width:62px; 
          height:17px; 
          padding:0 5px 0 5px; 
          text-align:center;
        }
        input[type="checkbox"]+ label{
          margin-top:4px;
          margin-left:7px;
          margin-right:3px;
        }
    }
    .options{
        position:absolute; right:5px;top:20px;
        a{ color:$left-event; text-decoration:none;
           &:link {color:$main-blue;}
           &:hover{color:#f0bc05;}
           &:active {color:$main-blue;}
        }
    }
    .tab_div{ 
        position:relative;padding:5px; margin-top:11px; clear:both; display:block;
    }
    .tab_link{ 
        border-bottom:1px solid #3f3f40; margin-bottom:8px;
        li{ 
            float:left; 
            @include border-radius(4px 4px 0 0); 
            margin-right:4px; 
            @include black-gradient; 
            cursor:pointer;
            &:link { @include black-gradient; color:white;}
            &:hover{ @include yellow-gradient;}
            &:active{ background:#000; }
            &.active{ @include yellow-gradient;}
        }
        a{ 
            display:block; margin:7px 11px 6px; text-indent:-9999px;
        }
        a.category_icon{ 
            background:url(../images/sprites.png) no-repeat -38px top; width:19px; height:18px;
        }
        a.watchlist_icon{ 
            background:url(../images/sprites.png) no-repeat -57px top; width:24px; height:18px;
        }
        img{ display:block;}
    }
}
/************** sidebar end **************/