$css_image_path:'../../';

$color:#020202;
$in-color:#808080;
$aside-color:#535353;
$main-blue:#096db9;
$footer-color:#acacac;
$left-event:#494A4E;
$light-gray:#ECECEC;

$watermark-color: #999;

$experimental-support-for-svg: true;
