@import "_general.scss";
@import "common/_header.scss";
@import "common/_sidebar.scss";
@import "common/_footer.scss";
@import "snippets/qtip/_loginned_popup.scss";
@import "snippets/_filter.scss";
@import "snippets/_feeds.scss";
@import "page/_new-event.scss";
@import "page/_event.scss";

/********************************* EVENT PAGES ***********************************************/

.mainevent{ /*padding-top:11px;*/}
.mainevent , .tag_con{ 
    h1{@include yellow-gradient; color:#2f3031; font-size:22px; font-weight:normal; padding:3px 0 5px 17px; @include border-radius(4px);}
}
.event_div{ @include border-radius(4px); background:#f2f2f2; padding:10px 0 0; line-height:17px;}
.event_div2{ @include border-radius(4px); background:#cdcdcd; padding-top:22px;}
.eventtype{ padding:0 19px;
    p{ line-height:17px;}
}
.event_form{
    a{ color:$color; text-decoration:none; }
    label{ width:108px; display:inline-block; padding:3px 10px 0 0; text-align:right; font-weight:bold;}
    label.place_res{ width:118px; margin-left:-12px;}
    label.l-a, label.l-a1, label.l-a2, label.l-a3{ width:auto; font-weight:normal;}
    label.l-a{ /*padding-top:0; */padding-right:5px;}
    label.l-a1{ padding-left:3px; padding-right:3px;}
    label.l-a2{ padding-right:0;}
	label.l-a3{ padding-left:0; padding-right:6px;}
    input, textarea, select{ border:1px solid #e0e0e0; background-color:white;font-family:Arial, Helvetica, sans-serif; font-size:13px; @include border-radius(4px); }
    input, textarea{ padding:2px 10px; color:$in-color;}
    input{ height:17px;}
    input.full, textarea.full{ width:466px;}
    input.middle{ width:250px;}
    input.middle1{ width:363px;}
    textarea.middle1{  width:363px;}
    input.middle2{ width:150px;}
    input.c-gap{ margin-right:10px; margin-top:1px;}
    input.time-gap{ margin-left:59px;}
    /*input.smallInput{ width:51px;}*/
    .date_input{width:70px;text-align:center;}
    .time_input{width:70px;text-align:center;}
    input.m-input{ width:110px; padding:2px 5px;}
    select{  padding:2px; height:25px;}
    select.auto_select{ height:auto; width:190px;} 
    select.category_select{ height:auto; width:141px} 
    .category_optgroup{ height:auto; width:190px; float:left;}
    select.smallSel{ width:85px;}
    select.smallSel1{ width:209px;}
    select.middleSel{ /*width:247px;*/}
    input[type="checkbox"], input[type="radio"]{ width:auto; height:auto; border:none; background:none; padding:0;}
    input[type="submit"]{ @include border-radius(6px); padding: 3px 13px 6px; font-size:13px; font-weight:bold; width:auto; height:auto; cursor:pointer; border:1px solid white; margin:0 10px;}
    input.submit1, input.submit4{ @include yellow-gradient; color:$color;}
    input.submit2{ @include black-gradient; color:white;}
    input.submit3{ background:url(../images/btn_bg2.gif) repeat-x left top #c4c4c4; color:$color;} 
    .input-right{ margin-right:5px;}   
    .timezone_trigger{}
    .timezone_input {display:none;
  	  .city{width:242px;}
  	  .country{width:189px;margin:3px 5px 0 0;}
  	}
}
.show_hide_map{ cursor:pointer;}
.settingMap{ cursor:pointer; font-weight:bold !important;}
input:disabled{ background:#EBEBE4;}
.small_gap{ margin-left:17px;}
.small_gap1{ float:right; margin-right:17px;}
.allgap{ margin-right:40px;}
.e_type_div{ padding-bottom:10px;}
.allevent{ display:inline-block; width:486px;
    p{ padding:0 0 0 7px;}
}
.all_div{  padding-bottom:23px;
   li a.active { background:#f5f5f5;}
     
}
.all_e_div{ width:125px; padding:5px; background-color:white;float:left;
     &:link {background:#fff;}
     &:hover{ background:#F5F5F5;}
     &:active {background:#f0bc05;}
    h6{ padding:7px 0 3px 0; text-align:center;}
   
}
.settings_form {
  .notifications{
    .prettycheckbox {
      label{text-align:left;}
    }
    .list_gap{
      padding-left:34px;
    }
  }
}
.f_div{ width:100%; display:block; padding-bottom:6px;}
.f_div1{ display:inline-block;
    .checkbox{ display:inline-block;}
}
.f_div2{ margin-left:59px;}
.f_map, .f_c_r{ display:inline-block; width:485px;}
.f_map{ border:1px solid #d1d1d1;}
.choose{ text-align:center; color:white; background:#9a9a9a; height:19px; padding:2px 10px; width:466px; display:inline-block; text-decoration:none;
     &:hover{ background:#096DB9; color:#fff;}
     &:active {background:#f0bc05; color:#000;}
}
.chose_active{background:#f0bc05; color:#000;}
.event_con{ padding-bottom:22px;
    p{ padding-top:15px;}
}
.add_tum{ display:inline-block; padding-top:3px;}

/********************************************************************************/

.myprofile{ background:#f2f2f2; @include border-radius(4px); padding:21px 19px 30px;
  .upload_user_thumbnail{ @include black-gradient; font-weight:bold; color:white !important; display:inline-block; text-align:center; padding:2px 0 3px; text-decoration:none; @include border-radius(4px); width:100%; margin-top:3px;
      &:link { @include black-gradient; color:white;}
      &:hover{ @include yellow-gradient; color:black !important;}
      &:active{ background:#000;  color:white !important;}
  }
}
.upload_thumbnail{width:439px;}
.profileLeft{ float:left; width:135px;}
.profile_right{ float:right; width:454px; position:relative;
    h6{ font-size:14px;}
    p{ padding-top:8px;}
}
.p-div{ padding-bottom:5px; display:block;}
.profile_form{
    label{ width:127px; display:inline-block; font-size:13px; font-weight:bold; padding:3px 5px 0 0;}
    input, textarea, select{ border:1px solid #e0e0e0; background-color:white;font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#6f6f6f;}
    input{ padding:2px 10px; height:19px; width:144px;}
}
.profile_field{ font-size:13px; color:#6f6f6f; width:144px; height:19px; overflow:hidden; padding-top:3px; display:inline-block;}
.activity{ position:absolute; top:0; right:0; width:98px; border:1px solid #c9c9c9; padding:2px; background-color: white;}
.active_div{ height:102px; background:#e5e5e5;}
.not_active{ border-top:1px solid #c9c9c9; padding:2px 10px 2px; text-align:center; margin:2px -2px 0;
    a{ color:#3ca94e; text-align:center; padding-right:17px; text-decoration:none; background:url(../images/arrow.gif) no-repeat right center; font-weight:bold;}
}
.righttab{ padding-top:16px;
    li{ display:inline-block; background:url(../images/tab_link_bg.gif) repeat-x top center #3f3f40; @include border-radius(4px 4px 0 0);
        &:link { @include black-gradient; color:white;}
        &:hover{ @include yellow-gradient;}
        &:active{ background:#000; }
        &.active{ @include yellow-gradient;}
    }
    li a{ display:block; padding:7px 11px 6px;}
}
.heading1{ @include yellow-gradient; color:#2f3031; font-size:22px; font-weight:normal; padding:3px 0 5px 17px; @include border-radius(4px);}
.list{  display:inline-block;
    li{ color:$color; font-size:13px; list-style:disc; padding:3px 0;}
}
.set{ font-size:13px; font-weight:bold; display:inline-block; padding:2px 6px 4px; @include black-gradient; color:white; border:1px solid white; @include border-radius(4px); margin-left:10px;}
.open, .tag_table input[type="submit"], .tag_table1 input[type="submit"]{  display:inline-block; @include border-radius(6px); padding: 3px 10px 5px; font-size:13px; border:1px solid white;  @include black-gradient; color:white; width:auto; height:auto; cursor:pointer;}
.open{ text-align:right; text-decoration:none; margin-right:15px; float:right;}
.tag_table input[type="submit"]{ cursor:pointer; border:none;}
.tag_table{ font-size:13px;
    input, select{ border:1px solid #e0e0e0; background-color:white;font-family:Arial, Helvetica, sans-serif; font-size:13px; @include border-radius(4px); padding:2px; color:$in-color; }
    input{  width:20px; height:19px;}
    input.groupInp{ width:90px;}
    select{ height:23px; display:inline-block;}
    select.all{ width:50px;}
    select.t_time{ width:80px;}
    tr th, tr td{ padding:8px 8px;}
    tr td a{ text-decoration:none; font-weight:bold; color:$color;}
    tr th{ background:$color; color:white; font-weight:bold;}
    tr.even td{ background:#f2f2f2;}
    tr th a{ text-decoration:none; color:white;}
}
.tag_table1{ font-size:13px;
    input, select{ border:1px solid #e0e0e0; background-color:white;font-family:Arial, Helvetica, sans-serif; font-size:13px; @include border-radius(4px); padding:2px; color:$in-color; }
    input{  width:20px; height:19px;}
    input.groupInp{ width:90px;}
    select{ height:23px; display:inline-block;}
    select.all{ width:50px;}
    select.t_time{ width:80px;}
    tr th, tr td{ padding:8px 2px; text-align:center;}
    tr td a{ text-decoration:none; font-weight:bold; color:$color;}
    tr td *{margin-left:auto;margin-right:auto}
    tr th{ background:$color; color:white; font-weight:bold;}
    tr.even td{ background:#f2f2f2;}
    tr th a{ text-decoration:none; color:white;}
}
/*********************************************************************************************/

.tag_con{ padding:0 10px;
    h1{ margin:0 -18px;}
    h2{ font-size:16px; padding-top:15px;}
    p{ line-height:17px; padding:15px 0 0;}
}
.tag_list{ padding:15px 0 0 15px;}
.download{ padding-top:15px;
    li{ display:inline-block; padding:0 10px;}
    li a{ @include yellow-gradient; @include border-radius(10px); padding:5px 15px; text-decoration:none; color:$color; font-weight:bold; }
}
.down-txt{ font-size:16px;}
.facebook-com{ margin-top:15px;}
.event_brief, .watcher_details, .detail_con{ padding:10px 20px;}
.watcher_details_inner{ padding:10px 15px;}
.watcher_tag_inner{ padding-top:15px;}
.event_details{ margin:10px 0 0 0;}
.event_img{ float:left; margin:0 10px 0 0;}
/*.event_con{ margin:0 0 0 130px;}
.event_con p{ padding-bottom:8px; line-height:18px;}
*/
.nonselect{ background:url(../images/unmarked_icon.png) no-repeat left 2px;}
.selected{ background:url(../images/marked_icon.png) no-repeat left 2px;}
.headgap{ padding:0 0 0 20px; margin-left:-20px;}
.gap_top{ margin-top:10px;}
.watch_bor{ border-top:1px solid #D3D3D3;}
.watcher_details h5, .head5{ background:#f3b90d; padding:5px 20px; font-size:13px; font-weight:bold; color:$color;}
.watcher_details a{ color:$color;}
.remember_head{ margin:0 -20px 10px;}
.watcher_form{
    li{ width:100%; display:inline-block; padding-bottom:12px;}
    li.none{ padding-bottom:0;}
    label{ display:inline-block; font-size:13px; font-weight:bold; padding:5px 5px 0 0; width:135px;}
    label.tag_label{ width:80px;}
    label.site_alert{ width:auto; padding:0 0 0 10px;}
    input, select, textarea{ border:1px solid #e0e0e0; background-color:white;font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#6f6f6f; @include border-radius(5px);}
    input, textarea{ width:400px; padding:2px 5px;}
	input.txt, textarea.txt{ width:332px; padding:2px 5px;}
    input{ height:21px;}
    input.fileimg{ width:auto;}
    input.d_input{ width:100px;}
    input.t_input{ width:50px;}
    input.d_input, input.t_input, input.r_d, input.r_t{ margin-right:5px;}
    input.r_d{ width:70px;}
    input.r_t{ width:35px;}
    select{ width:259px; padding:2px; height:26px;}
    input[type="checkbox"]{ width:auto; height:auto; padding:0; border:none;}
    input[type="submit"]{ @include border-radius(6px); padding: 5px 6px 4px; font-size:13px; font-weight:bold; width:auto; height:auto; cursor:pointer; border:1px solid white;}
    input.submit2, input.submit3{  margin-left:20px; }
    input.submit1, input.submit4{ @include yellow-gradient; color:$color;}
    input.submit2{ @include black-gradient; color:white;}
    input.submit3{ background:url(../images/btn_bg2.gif) repeat-x left top #c4c4c4; color:$color;}
	input.btngap{ margin-top:-1px;}
}
.right_gap{ margin-right:15px; float:right;}
.left_gap{ margin-left:20px;}
.watcher_gap{ margin-top:20px;}
.watcher_form_gap{ padding-top:10px;}
.watcher_tag{ padding:10px 20px 0; }
.watch_color{ background:#fef8e6;}
.remember_date{ float:left;
    label{ display:none; padding:0; margin-bottom:5px; display:block; width:auto;}
}
.mainrememberdate{ display:none;}
.main_table{ vertical-align:middle; border-spacing:0; width:100%;
    tr td{ vertical-align:middle; padding:5px 5px; border-bottom:1px solid #D3D3D3;text-align:center;}
    tr td a{ color:$main-blue; text-decoration:none;
        &:hover{ color:$color;}
    }
    * {
      margin-left:auto;margin-right:auto
    }
}

.detail_con_details p{ padding-top:10px; line-height:18px;}
.save_form{ padding:0 2px;}
.upload_img img{ @include border-radius(4px); margin:0 2px 2px 0;}
.avatar_div{
    li{ float:let; width:auto; padding:0; 
    img{ margin:6px; cursor:pointer;}
    } 
    .active img{ padding: 2px; margin: 2px; border: 2px solid #3C78B5;}
}
.scrollup{ width:40px; height:40px; text-indent:-9999px; position:fixed; bottom:50px; right:100px; display:none; background: url(../images/icon_top.png) no-repeat;}
.tree_tag{ margin:0 10px 6px; background-color: white;}
.tree_tag .mainhead{background:#f3b90d; padding:5px 10px; font-size:13px; font-weight:bold; color:$color; }
.add_category_div{ padding:10px;}
.div_category{ margin:10px 0;}

.all_selected{ padding:5px 0 0 0;
    li{ float:left; font-size:13px; color:$color; border-right:1px solid $color; line-height:15px; padding:0 8px;}
    li:last-child{ border:none;}
    li a{ color:$color;
        &:hover{ text-decoration:underline;}
    }
}

.tag_category_inner{ height:130px; overflow-y:auto; border:1px solid #E0E0E0; padding:5px; @include border-radius(5px);}
.category_nav{ width:137px;}
.top_gap{ margin-top:3px; display:inline-block;}
#close{ cursor:pointer;}
/************************************************************************/
.inner_post_right{ padding:10px 0 0 0;}
/******************************************************************************/

#lean_overlay{ position: fixed; z-index:100; top: 0px; left: 0px; height:100%; width:100%; background:black; display: none;}
.popup_window{ background:white; @include border-radius(5px); @include box-shadow(0, 0px, 8px, rgba(0,0,0,0.2)); display: none; padding: 2px;}
.popup_bor{ @include border-radius(5px); border:3px solid #e5e5e7; background:#fff;}
.main_popup, .more_popup{ background: url(../images/pop_bg.jpg) repeat-x top left #fff; @include border-radius(5px); margin:5px; padding:10px;}
.popup-header{ padding:0 0 10px; position:relative; 
    h2{ font-size:18px; font-weight:bold;}
}
.pop_form{ padding:10px;
    p{ color:$color; padding-bottom:10px;}
    label{ width:120px; padding:4px 8px 0 0; display:inline-block;}
    input, textarea, select{ border:1px solid #c0c0c0; display:inline-block; padding:2px 5px; font-size:12px; /*color:$color;*/ @include border-radius(5px);}
    input{  background:white; width:200px; height:20px;}
    .p_month{ width:80px;}
    .reveal{ width:215px; margin-left:85px;}
    input[type="submit"]{ @include yellow-gradient; padding:3px 8px; color:black; font-size:12px; font-weight:bold; width:auto; height:auto; border:none; cursor:pointer;}
}
.p_field{ width:100%; display:inline-block; padding-bottom:10px;}
.modal_close, .window_close, .window_close1{ @include background_img; background-position:-86px -4px; display: block; height: 12px; position: absolute; right: 0px; top:0px; width: 12px; z-index: 2;}
.not_found{ padding:10px; width:510px; margin:0 auto; text-align:center; font-family:'Century Gothic', Arial, Helvetica, sans-serif;
    .subtitle{  color:$color; font-size:15px; text-align:center; margin-left:300px;}
    h1{ font-size:80px; font-weight:bold; line-height:61px;}
    h2{ font-size:16px; font-weight:normal; padding:15px 0;}
    p{ padding:15px 0 0 15px;}
}
.examplecontainer { list-style-type: none; clear: both;}
.examplebox { background-color: #F5BD0F; float: left; width: 150px; padding:50px 0; margin: 10px; @include border-radius(5px);
    a{ text-decoration:none; color:white;}
}

.exampletitle { letter-spacing: -1px; color: white; font-weight: bold; font-size: 18px;}
.form_more{ color:$color; float:left; padding-top:10px; text-decoration:none;
        &:link {color:$color;}
        &:hover{color:#F0BC05;}
        &:active {color:#096DB9;}
}
.button { width:138px; height:33px; font-size:13px; font-weight:bold; line-height:33px; text-decoration:none; color:white; text-shadow:0px 1px 0px rgba(0,0,0,.2);
   @include border-radius(3px) ; 
   @include box-shadow(inset 0px 1px 0px rgba(255,255,255,0.5), 0px 1px 2px rgba(0,0,0,0.3));
	float:left; display:inline-block;
    img { float:left; width:33px; height:33px;}
}
.button.green {
	background: -webkit-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -moz-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -o-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: -ms-linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	background: linear-gradient(top,  rgba(170,212,79,1) 0%,rgba(116,185,49,1) 90%,rgba(106,173,45,1) 95%,rgba(96,157,41,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aad44f', endColorstr='#609d29',GradientType=0 );
	border:1px solid #5b8821;
	margin:0 5px 0 35px;
}
.button.red {
	background: -webkit-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -moz-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -o-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: -ms-linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	background: linear-gradient(top,  rgba(248,114,136,1) 0%,rgba(243,71,85,1) 90%,rgba(225,65,77,1) 95%,rgba(206,59,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f87288', endColorstr='#ce3b46',GradientType=0 );
	border:1px solid #b0333e;
	margin:0 0px 0 5px;
}

.reveal-modal-bg { 
	position: fixed; 
	height: 100%;
	width: 100%;
	background: #000;
	background: rgba(0,0,0,.4);
	z-index: 100;
	display: none;
	top: 0;
	left: 0; 
}

.simple_personal_event_form{
  width:411px;
  .timezone_trigger{}
  .timezone_input {display:none;
    .city{width:242px;}
    .country{width:189px;margin:3px 5px 0 0;}
  }
  .date_input{width:70px;text-align:center;}
  .time_input{width:70px;text-align:center;}
    label{ padding: 0;}
  label.l-a, label.l-a1, label.l-a2, label.l-a3{ width:auto; font-weight:normal;}
  label.l-a{ /*padding-top:0; */padding-right:5px;}
}

/***************************** tooltip *************************************************/
.ui-tooltip-wiki{
    max-width: 450px; color:$color; @include border-radius(6px); position:relative;
    h5{ color:black; font-size:13px;}
}
.ui-tooltip-title{display:none;}
.ui-tooltip-titlebar{ position:absolute; top:0; right:0;}
.pop_content{ padding:10px 0 0 0;
    p{ font-size:13px; color:$color; padding-bottom:10px; line-height:18px;
        a{ color:$color; text-decoration:underline;
            &:link {color:$color;}
            &:hover{color:#F0BC05;}
            &:active {color:#096DB9;}
        }
    }
}
/*******************************************************************************/

.signup_form, .login_form{ background:#F2F2F2;
    label{ line-height:2; font-weight:bold;}
    input{ background:white;}
    input.submit_btn{ @include yellow-gradient; padding:3px 8px; color:black; font-size:12px; font-weight:bold; width:auto; height:auto; border:none; cursor:pointer;}
}

.login_dialog{
  width:700px;
}

.login_form{
  padding:0;
  .col_left{float:left;padding: 22px 0 15px 20px;width: 270px;}
  .col_right{
    float:right;padding: 20px 15px;width: 270px;
    a{
      margin-bottom:10px;
    }
  }
  .or{
    float:left;
    p{padding:60px 5px;}
  }
  a.button {
      width: 251px;
      height: 42px;
      display: inline-block;
      cursor:pointer;
      clear:both;
  }
  a.button.facebook {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -1px;
  }
  a.button.facebook:hover {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -44px;
  }
  a.button.facebook:active {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -87px;
  }
  a.button.twitter {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -130px;
  }
  a.button.twitter:hover {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -173px;
  }
  a.button.twitter:active {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -216px;
  }
  a.button.google {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -259px;
  }
  a.button.google:hover {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -302px;
  }
  a.button.google:active {
      background: url('http://blog.christianstrang.de/wp-content/uploads/2011/10/login-btns.png') no-repeat -2px -345px;
  }
  .submit_btn{margin-right:57px;float:right;}
  input{ border:1px solid #c0c0c0; display:inline-block; padding:2px 5px; font-size:12px; @include border-radius(5px);  background:white; width:200px; height:20px;}

}
.signup_form{
  padding: 10px 208px 10px 185px;
  input{width:229px; height:26px; }
  input.submit_btn{float:right;}
}
.clr{clear:both;}
.other_options{
  clear:both;
  a{ display:inline-block;color:$main-blue; font-size:11px; font-weight:bold; padding:8px 0 0 0;
      &:link {color:$main-blue;}
      &:hover{color:#F0BC05;}
          /*&:visited {color:$color;} */
      &:active {color:$color;}
  }
}
/*******************************************************************************/

/*#dialog_link{ @include yellow-gradient; @include border-radius(4px); margin-top:10px; display:inline-block;}*/
.ui-widget-header, .ui-state-default{ @include yellow-gradient; @include border-radius(4px); font-weight:bold; border: 3px solid #f4b70b;}
.ui-widget-header{ color:#fff;}
.ui-state-default{ color:#000;}

.bookmark_box_trigger {
  @include border-radius (5px);
  //position: absolute;
  //z-index:  10; 
  width:400px;
  //height:650px;
  //right: 0;
  //top: 10px;
  //display:none;
  max-width: 400px;
}

.watcher_icon {
  cursor: pointer;
  display: block;
  float: right;
}

.hidden_tip {
  display: block;
  visibility: hidden;
}

.alarm_pop a{ color:$color;
        &:link {color:$color;}
        &:hover{color:#F0BC05;}
        /*&:visited {color:$color;} */
        &:active {color:#096DB9;}
    }


/*#event_date{ float:left;}*/
.div_center{text-align:center;
    *{margin-left:auto;margin-right:auto;}
}
.td_th_align_left{text-align:left;
    *{margin-left:auto;margin-right:auto;}
}
.td_th_align_right{text-align:right;
    *{margin-left:auto;margin-right:auto;}
}
.td_th_align_center{text-align:center;
    *{margin-left:auto;margin-right:auto;}
}


/* message */
.flash_messages {
  left: 0;
  margin: 0;
  opacity: 0.9;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  display:none;
    .flash_message{
      padding: 10px;
      background: yellow;
      border:1px solid grey;
      text-align: center;
      position: relative;
      a.close {
        color: blue;
        font-weight: bold;
        :hover {
          text-decoration: underline;
        }
      }
      img.close {
          position: absolute;
          width: 20px;
          cursor: pointer;
          right: 0;
          top: 7px;
      }
  }
}

/* my styles */
.editable label{
  cursor:pointer;
}
