@import "../_init.scss";

.tag_con{ 
  padding:0 10px;
  h1{ margin:0 -18px;}
  h2{ font-size:16px; padding-top:15px; font-weight: bold}
  p{ line-height:17px; padding:15px 0 0;}
  .tag_list{ padding:15px 0 0 15px;}
  .download{
    padding-top:15px;
    li{ display:inline-block; padding:0 10px;}
    li a{ 
      @include yellow-gradient; 
      @include border-radius(10px); 
      padding:5px 15px; 
      text-decoration:none; 
      color:$color; 
      font-weight:bold; 
    }
    .down-txt{ font-size:16px;}
  }
}