@import "../_init.scss";

.event_form, .advanced_event_form{
  list-style-position: inherit;
  ul.accordion-new{
    font-size: inherit;
    li{
      &>div{
        padding:0;
      }
      &#step1{
        label{
          width: 80px;
        }
      }
      fieldset{
        legend{
          display: block;
          width: 100%;
          text-align: center;
          @include yellow-gradient; 
          @include border-radius(4px);
          color:#2f3031; 
          font-size:13px; 
          font-weight:bold; 
          padding:6px 0 8px; 
        }
      }
      .ui-accordion-link{
        display: none;
      }
      .div_center{
        margin-top:10px;
      }
    }
  }
  
  .grey_area{ 
    @include border-radius(4px); 
    background:#f2f2f2; 
    padding:10px 0 0; 
    line-height:17px;
    .has_error{
      margin: 5px 20px;
    }
    .errors{
      list-style-type: disc;
      margin: 0 20px 30px;
      color: red;
      li{
        margin-left: 20px;
      }
    }
  }
  .deep_grey_area{ 
    @include border-radius(4px); 
    background:#cdcdcd; 
    padding-top:12px;
    clear:both;
  }
  .horizontal-padding{ padding:5px 19px;
      p{ line-height:17px;}
  }
  a{ 
    color:$color; text-decoration:none; 
    &.text_link{
      color:blue;
    }
    &.text_link:hover{
      text-decoration:underline; 
    }
  }
  label{ width:106px; display:inline-block; padding:3px 5px 0 0; text-align:right; font-weight:bold; vertical-align: top}
  label.place_res{ width:118px; margin-left:-12px;}
  label.l-a, label.l-a1, label.l-a2, label.l-a3{ width:auto; font-weight:normal;}
  label.l-a{ /*padding-top:0; */padding-right:5px;}
  label.l-a1{ padding-left:3px; padding-right:3px;}
  label.l-a2{ padding-right:0;}
label.l-a3{ padding-left:0; padding-right:6px;}
  input, textarea, select{ border:1px solid #e0e0e0; background-color:white;font-family:Arial, Helvetica, sans-serif; font-size:13px; @include border-radius(4px); }
  input, textarea{ padding:2px 10px; color:$in-color;}
  input{ height:17px;}
  input.full, textarea.full{ 
    width:474px;
    &.place_ac{
      width:450px;
    }
  }
  input.middle{ width:250px;}
  input.middle1{ width:363px;}
  textarea.middle1{  width:363px;}
  input.middle2{ width:150px;}
  input.c-gap{ margin-right:10px; margin-top:1px;}
  input.time-gap{ margin-left:59px;}
  /*input.smallInput{ width:51px;}*/
  .date_input{width:70px;text-align:center;}
  .timepicker{width:70px;text-align:center;}
  input.m-input{ width:110px; padding:2px 5px;}
  select{  padding:2px; height:25px;}
  /*select.auto_select{ height:auto; width:190px;}*/ 
  select.category_select{ height:auto; width:141px} 
  .category_optgroup{ height:auto; width:190px; float:left;}
  select.smallSel{ width:85px;}
  select.smallSel1{ width:209px;}
  select.middleSel{ /*width:247px;*/}
  input[type="checkbox"], input[type="radio"]{ width:auto; height:auto; border:none; background:none; padding:0;}
  input[type="submit"], input[type="button"]{ @include border-radius(6px); padding: 3px 13px 6px; font-size:13px; font-weight:bold; width:auto; height:auto; cursor:pointer; border:1px solid white; margin:0 10px;}
  input.submit1, input.submit4{ @include yellow-gradient; color:$color;}
  input.submit2{ @include black-gradient; color:white;}
  input.submit3{ background:url(../images/btn_bg2.gif) repeat-x left top #c4c4c4; color:$color;} 
  .input-right{ margin-right:5px;}   
  .timezone_trigger{}
  .timezone_input {
    display:none;
    .city{width:242px;}
    .country{width:189px;margin:3px 5px 0 0;}
  }
  
  .allgap{ margin-right:40px;}
  .e_type_div{ padding-bottom:10px;}
  
  .new_event_event_types{ 
      display:inline-block; width:486px;
      .inner{
        li a.active { background:#f5f5f5;}
        p{ padding:0 0 0 7px;}
      }
  }
  
  .readmore-js-expanded{
    height:auto !important;
    overflow: auto !important;
  }
  .f_div{
    width:618px;
    padding-bottom:6px; 
    position:relative;
    clear:both;
    input.error, textarea.error{
      border: 2px solid red;
      &.full{
        width: 470px;
      }
    }
    .new_event_more_btn{
      float: right;
      margin-right:8px;
      margin-bottom: 10px;
    }
    &.event_map{
      .map{
        width: 494px;
        display: inline-block;
      }
    }
  }
  .f_div1{ display:inline-block;
      .checkbox{ display:inline-block;}
  }
  
  .f_div2{ margin-left:59px;}
  .f_map{ border:1px solid #d1d1d1;}
  .f_map, .f_c_r{ display:inline-block; width:485px;}
  
  .choose{ 
    text-align:center; 
    color:white; 
    background:#9a9a9a; height:19px; 
    padding:2px; 
    width:490px; 
    display:inline-block; 
    text-decoration:none;
    &:hover{ background:#096DB9; color:#fff;}
    &:active {background:#f0bc05; color:#000;}
  }
  .chose_active{background:#f0bc05; color:#000;}
  .tree_text{
    display:inline-block;line-height:20px !important;
  }
  .tree_line_hidden{
    display: none;
  }
  .add_tags_div{
    width: 490px;
    display: inline-block;
  }
  label.error{
    display: inline-block;
    width: auto;
    color:red;
    padding: 3px;
    margin: 5px auto;
    float:right;
  }
  .toggle_editor{
    clear: both;
    margin-bottom: 10px;
    display: inline-block;
    width: auto;
    float: right;
    margin-right: 8px;
  }
  .mceEditor{
    float:right;
    .mceLayout{
      margin-right:9px;
      width: 493px !important;
    }
  }
}
#add_tree_popup {
  select {
    float: left; 
    height: auto;
    padding: 5px;
    width: 33%;
  }
  label.error{
    color:red;
  }
}

#add_tags_popup{
  width:640px;
  height:260px;
  /*padding:10px;*/
  #new_event_tag_items {
    background: white;
    border: 1px solid #e0e0e0;
    height: 178px;
    line-height: 1;
    margin: 10px 0;
    overflow-y: scroll;
    width: 100%;
    .inner{
      padding: 5px 5px 5px 10px;
      .item{
        cursor: pointer;
        float: left;
        line-height: 1.5;
        padding: 0 5px;
        width: 135px;
        a{
          display:inline-block;
        }
      }
    }
    .backup{
      display: none;
    }
  }
  #new_event_filter_tags_by_keyword{
    width:250px;
  }
  #new_event_switch_tags_selected_or_all{
      margin-top: 5px;
      padding-left: 15px;
      li{ float:left; font-size:13px; color:$color; border-right:1px solid $color; line-height:15px; padding:0 8px;}
      li:last-child{ border:none;}
      a{
        font-weight:normal;
        cursor:pointer;
        background:none;
        &.pressed{
          font-weight:bold;
          text-decoration:none;
        }
      }
  }
  #new_event_add_custom_tags{
    width:560px;
  }
}

.advanced_event_form{
  
}
