@import "../_init.scss";

/*
 * general
 */
.watched{ position:absolute; top:12px; right:0px;}
.w1{ float:right; position:relative;}
.w1 a{ display:block; text-align:right;}
.w_con{ clear:both; display:block; color:$main-blue; font-size:11px; padding-top:3px;}
.w2{ float:left; font-size:22px; font-weight:normal; color:#3ca94e; padding-top:5px;}
.remain_time{ position:absolute; top:15px; right:157px;}
.r_day, .soon, .expired{ padding:2px; text-decoration:none; font-weight:bold; font-size:12px; @include box-shadow(4px, 3px, 2px, rgba(0,0,0,0.5));  border-width:1px; border-style:solid; display:inline-block;
    span{ padding:2px 9px; display:inline-block; min-width:50px; text-align:center;}
}
.r_day{ background-color:#ec6b00; border-color:#c51100; color:white;
  span{ background:url(../images/day_bg.gif) repeat-x top center;}
}
.soon{ background-color:#99e520; border-color:#4b7000; color:black;
  span{ background:url(../images/soon.gif) repeat-x top center;}
}
.expired{ background-color:#a4a4a4; border-color:#2d2d2d; color:white;
 span{ background:url(../images/expired.gif) repeat-x top center;}
}

/*
 * feeds
 */
.feeds_and_more{ 
    padding:0 8px 0 9px;
    a.head{ 
        font-size:22px; 
        font-weight:normal;
        color:#2f3031;
        display:inline-block; 
        text-decoration:none;
        &:link {color:$main-blue;}
        &:hover{color:#f0bc05;}
        &:active {color:$color;}
    }
    p{ line-height:17px; padding-top:13px; }
    .post_content{
        padding:15px 0 40px 0;
        background:url(../images/post_bg.gif) repeat-x bottom left; 
        position:relative;
        .post_left{ width:143px; float:left;
          img{ border:10px solid #f2f2f2;}
        }
        .post_right{ width:474px; float:right;
          .tag_top{ 
            color:$color; 
            width: 405px;
            overflow-x: hidden;
            ul{ margin-left:-3px; width: 1000px;}
            li{ float:left; color:$color; padding:0 3px;}
            a{ display:inline-block; color:$main-blue; text-decoration:none;
              &:link {color:$main-blue;}
              &:hover{color:#f0bc05;}
              &:active {color:$color;}
              &.place{
                display: inline;
              }
            }
            .place{max-width:150px;}
          }
          .taggap{ border-bottom:1px solid #e8e8e8; padding-bottom:8px; }
          .tag_bottom{ padding-top:25px;
              a{ padding:0 3px;}
              
          }
        }
    }
    .load_more_feeds {
        text-align:center;
        .more{ 
          background:url(../images/more_bg.gif) repeat-x bottom center; @include border-radius(4px); text-align:center; display:block; color:$main-blue; text-decoration:none; padding: 5px 0; border:1px solid #ebebeb; border-bottom:1px solid #cbcbcb; font-weight:bold; 
          &:hover{ color:$color;}
        }
    }
}