@import "../_init.scss";

.loginned_popup_inner{
    line-height:1.5;
    width:250px;
    .img_outer{
        float:left;
        img{
            margin:5px;
        }
    }
    .info{
        float:left;
        .info_inner{
            padding:5px;
            h3{
                font-size: 13px;
                font-weight: bold;
            }
            p{
            }
        }
    }
    .clearfix{
        border-bottom: 1px dashed #e5e4e0;
    }
    .pro-bottom{
        padding:5px;
        a{
            font-size:13px;
            color:black;
            text-decoration: none;
        }
    }
}