SetEnvIf Host "127.0.0.1" APPLICATION_ENV=development 
SetEnvIf Host "localhost" APPLICATION_ENV=development 
SetEnvIf Host "atticho.no-ip.biz" APPLICATION_ENV=testing
SetEnvIf Host "tagbees.com" APPLICATION_ENV=production
SetEnvIf Host "www.tagbees.com" APPLICATION_ENV=production
SetEnvIf Host "staging.tagbees.com" APPLICATION_ENV=staging

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
RewriteCond %{HTTP_HOST} ^tagbees.com
RewriteRule (.*) http://www.tagbees.com/$1 [R=301,L]