SetEnvIf Host "127.0.0.1" APPLICATION_ENV=development 
SetEnvIf Host "localhost" APPLICATION_ENV=development 
SetEnvIf Host "atticho.no-ip.biz" APPLICATION_ENV=testing
SetEnvIf Host "tagees.com" APPLICATION_ENV=production
SetEnvIf Host "testing.tagees.com" APPLICATION_ENV=testing
SetEnvIf Host "staging.tagees.com" APPLICATION_ENV=staging
SetEnvIf Host "www.tagees.com" APPLICATION_ENV=production

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]
RewriteCond %{HTTP_HOST} ^tagees.com
RewriteRule (.*) http://www.tagees.com/$1 [R=301,L]