@import "../_init.scss";

/************** sidebar start **************/
#sidebar{ 
    width:298px; color:$aside-color; 
    
    h1{ color:$left-event; font-size:22px; font-weight:bold;}
    h2{ font-size:16px; font-weight:normal; }
    h2 a{ color:$left-event; text-decoration:none;
        &:link {color:$main-blue;}
        &:hover{color:#f0bc05;}
        &:active {color:$main-blue;}
    }
    .gap{ margin-bottom:14px;}
    .search_field{
        margin-bottom:1px;position:relative;
        input.keyword_text{
            padding-left: 10px;padding-right: 10px;width: 240px;height: 26px
        }
        input.keyword_submit{ 
            position:absolute;
            right:0;top:0;
            float:none;
            @include background_img; 
            background-position: left -13px; 
            width:38px; height:32px; 
            border:none; 
            padding:0; 
            cursor:pointer; 
            @include border-radius(0 4px 4px 0);
        }
    }
    .date_search{
        background:#e6e6e6; 
        @include border-radius(4px); 
        font-size: 11px; 
        height:29px;
        > *{
          float:left;
        }
        .text{ float:left; color:$color;margin-top: 8px;}
        .text{float:left;margin-right:5px;}
        .text.from{border-left: 1px solid black;padding-left: 6px;font-weight: bold;}
        .text.to{font-weight: bold;margin-left:3px;}
        input[type="text"]{
          margin-top:4px;
          font-size:11px; 
          border:1px solid #c6c6c6; 
          width:62px; 
          height:17px; 
          padding:0 5px 0 5px; 
          text-align:center;
        }
        input[type="checkbox"]+ label{
          margin-top:4px;
          margin-left:7px;
          margin-right:3px;
        }
    }
    .tab_div{ 
        position:relative;
        padding:5px; 
        margin-top:11px; 
        clear:both; 
        display:block;
        
        .tab_link{
            border-bottom:1px solid #3f3f40; margin-bottom:8px;
            li{ 
                float:left; 
                @include border-radius(4px 4px 0 0); 
                margin-right:4px; 
                @include black-gradient; 
                &:link { @include black-gradient; color:white;}
                &:hover{ @include yellow-gradient;}
                &:active{ background:#000; }
                &.active{ @include yellow-gradient;}
            }
            a{ 
                display:block; margin:7px 11px 6px; text-indent:-9999px;
            }
            a.category_icon{ 
                background:url(../images/sprites.png) no-repeat -38px top; width:19px; height:18px;
            }
            a.watchlist_icon{ 
                background:url(../images/sprites.png) no-repeat -57px top; width:24px; height:18px;
            }
            img{ display:block;}
        }
        .options{
            position:absolute; right:5px;top:20px;
            a{ color:$left-event; text-decoration:none;
               &:link {color:$main-blue;}
               &:hover{color:#f0bc05;}
               &:active {color:$main-blue;}
            }
        }
        #category_tab{
            .accordion{
                .accordion_button {
                    position:relative; 
                    color:$left-event;
                    @include border-radius(4px);
                    cursor: pointer; 
                    font-weight:bold; 
                    background:url(../images/up_arrow.png) no-repeat right center; 
                    background-color:$light-grey;
                    line-height:21px;
                    margin-top:1px;
                    padding:5px 0 4px 13px;
                    img{ margin-right:20px; display:inline-block; float:left;}
                    .movable {position: absolute;right: 5px;top: 7px; display:none;}
                    .movable:hover {cursor:move;}
                    a.hide_toggle {
                        position: absolute;
                        right: 25px;top: 5px; 
                        color:grey;
                        text-decoration:none;
                        display:none;
                        &:hover{ color:black; }
                      }
                }
                .accordion_content {
                    .accordion_button_sub{ 
                        font-weight: bold; 
                        cursor: pointer; 
                        padding:5px 10px; 
                        @include border-radius(4px);
                        &.active{
                            background:$light-grey;
                            border-radius:4px 4px 0 0 !important;
                        }
                        &.over{
                            background:$light-grey; 
                            @include border-radius(4px);
                        }
                    }
                    .accordion_content_sub {
                        display: none; 
                        border:2px solid $light-grey;
                        li{ 
                            font-weight: bold; 
                            cursor: auto; 
                            background-color:white;
                            padding: 4px 0 4px 8px;
                        }
                        a { 
                            text-decoration: none; 
                            color:$left-event;
                            &:hover { 
                                color:black;
                            }
                        }
                    }
                }
            }
            .shown_categories{
                .tab_placeholder{ height:32px;}
                .accordion{
                    .accordion_button{
                        &.over, &.on{
                            background-image:url(../images/down_arrow.png);
                        }
                        &.editing{ 
                            background-image:none;
                            cursor:default;
                            &:hover a.hide_toggle{
                                display:block;
                            }
                        }
                    }
                    .accordion_content {
                        padding:5px 5px 5px 15px;  
                        line-height:17px; 
                        display:none;
                    }
                }
            }
            .hidden_categories{
                display:none;
                .accordion_button { 
                    background-color:#cbcbcb;
                    background-image:none;
                    cursor:default;
                }
                &.editing{ 
                    display:block;
                    &:hover a.hide_toggle{
                        display:block;
                    }
                }
            }
        }
        #highlight_tab, #reminder_tab{
            .event_head{ 
                background:$light-grey; 
                @include border-radius(4px); 
                padding:4px 11px 5px 13px;
                h4{ 
                    font-size:13px; 
                    font-weight:bold; 
                    color:$left-event; 
                    display:inline-block; 
                    padding:4px 0 0;
                }
                .more_dot, .add{ float:right; color:$left-event; }
                .more_dot{ text-decoration:none; font-weight:bold; line-height:21px;}
                .add{ background:url(../images/plus.png) no-repeat center white; border:1px solid #c7c7c7; width:23px; height:19px; margin-right:11px;}
                .alltime{ border:1px solid #c7c7c7; width:90px; height:21px; padding:2px 2px 2px 6px; float:right; margin-right:7px;}
            }
            ul{
              li{
                  @include user-select(none);
                  border-bottom:1px solid #e4e4e4; 
                  display:block; 
                  padding:6px 0 6px 12px; 
                  color:$left-event; 
                  position:relative; 
                  cursor: pointer;
                  .sidebar_bookmark_popup{
                    width: 270px;
                    position: absolute;
                    left: 305px;
                    z-index: 100;
                    top: 0;
                    display:none;
                    background:#F1F1F1;
                    cursor: auto;
                    .sidebar_bookmark_popup_inner{
                      margin:10px;
                      h2{
                        font-size: 14px;
                      }
                      h3{
                        font-weight:bold;
                      }
                      .yellow{
                        background:#FFFF94;
                        padding: 5px;
                      }
                      .white{
                        margin-top:10px;
                        display:none;
                      }
                      .sidebar_bookmark_popup_reminder_title{
                        width: 245px;
                        padding: 2px;
                      }
                      .sidebar_bookmark_popup_reminder_detail{
                        width: 245px;
                        padding: 2px;
                        border: 1px solid #dfdfdf;
                      }
                      .sidebar_bookmark_popup_reminder_save{
                        float:right;
                      }
                      .sidebar_bookmark_popup_set_reminder{
                        float: right;
                        margin-top:5px;
                        display:none;
                      }
                      .sidebar_bookmark_popup_more_reminder_fields{
                        float:left;
                      }
                    }
                  }
                  .arrow{
                    display: none;
                    position: absolute;
                    left: 295px;
                    top: 0;
                    line-height: 30px;
                    font-size: 25px;
                  }
                  .star{
                    cursor:pointer;
                    width:14px; height:13px; position: absolute;
                    right: 5px;
                    top: 9px;
                    .star_inner{  
                      background-image:url(../images/sprites.png); 
                      background-repeat:no-repeat; 
                      float:left; 
                      width:14px; 
                      height:13px;
                    }
                    .star_inner{ background-position:-14px 0; display:none;}
                    .gold{  background-position:0 0 !important;}
                  }
                  .e_date{ display:inline-block; width:39px;}
                  .title{ width: 180px; color:$left-event; display:inline-block;}
                  .event_icon{ position:absolute; right:20px; top:3px; display:none;}
                  a{ color:$left-event; text-decoration:none;
                      &:link {color:$color;}
                      &:hover{color:#F0BC05;}
                      /*&:visited {color:$color;} */
                      &:active {color:#096DB9;}
                  }
                  &.bookmarked{
                    .sidebar_bookmark_popup_set_reminder{
                      display:block !important;
                    }
                    .star_inner{ 
                      display:block;
                      background-position:0 0;
                    }
                    /*&:hover{
                      .sidebar_bookmark_popup, .arrow{
                        display:block;
                      }
                    }*/
                  }
                  &:hover{
                    background:#f6f6f6;
                    &.bookmarked{
                      .star_inner{ 
                          display:block;
                          /*&:hover{ 
                              background-position:-14px 0 !important;
                          }*/
                      }
                    }
                    .star_inner{ 
                        display:block;
                        /*&:hover{ 
                            background-position:0 0;
                        }*/
                    }
                    .event_icon{ display:block;}
                  }
                  &:last-child{ border:none;}
              }
            }
        }
        #reminder_tab{
          ul li{
            padding-top:12px;
            padding-bottom:12px;
            .date{
              display:inline-block; 
              width:39px;
              float:left;
              margin-top:10px;
            }
            .info{
              float:left;
              .title{
                color:$left-event;
                &:link {color:$color;}
                &:hover{color:#F0BC05;}
                /*&:visited {color:$color;} */
                &:active {color:#096DB9;}
              }
              .teaser{
                /*color: grey;*/
                /*overflow: hidden;
                height: 15px;*/
                width: 180px;
                font-size: 10px;
                color: grey;
              }
            }
            .star{
              top: 23px;
            }
            
            .arrow{
              top:14px;
            }
          }
        }
    }
    .tag_cloud, .info_block{ padding:15px 20px 30px;}
    .tag_cloud{
        font-size:12px; 
        color:#2e75ab;
        .cloudhead{
            background:url(../images/cloud.gif) no-repeat top right;
            margin-bottom:10px;
        }
        p{ 
            line-height:17px;
            span.font35{ font-size:35px; font-weight:normal; line-height:26px;}
            span.font11{ font-size:11px;}
            span.font12{ font-size:12px;}
            span.font13{ font-size:13px;}
            span.font14{ font-size:14px;}
            span.font16{ font-size:16px;}
            span.font24{ font-size:24px;}
        }
    }
    .info_block {
        p{ 
            font-size:11px; 
            line-height:17px; 
            padding-top:17px;
        }
        .block_img{ 
            float:left; 
            margin:0 20px 10px 0;
        }
    }
}
/************** sidebar end **************/